<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THis is by using EJS 1+4</h1>
    <h1> <%= 1+4 %> </h1>
    <h1> <%= "aman" .toUpperCase() %> </h1>
    <h1> <%= ["sachin","aman","etc"] [2] %> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id suscipit quisquam magni porro beatae ea ratione similique aut quas enim tenetur in deserunt non, blanditiis quos nulla ab nam incidunt!</p>
    <button>click me</button>
</body>
</html>